@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');



/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #d71fef 0%, #0083f5 100%, #8bd3e8 50%, #258cc0 24%);
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
h1 {
    color: #333;
    padding: 20px;
}

/* Estilos para el logo */
.logo {
    max-width: 150px; 
    display: block; 
    margin: 0 auto 0 0; 
    padding: 10px; 
    border: 2px solid #007bff; 
    border-radius: 5px; 
}


/* Estilos para los botones */
.boton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.boton:hover {
    background-color: #0056b3;
}

/* Estilos carrousel */
.carousel-item img {
    width: 80%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    /* max-height: 100%; */ 
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #777;
}

.card-body {
    padding: 1.5rem;
}

.btn-primary {
    background-color: #992bfa;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Espaciado entre las tarjetas */
.m-3 {
    margin: 1rem;
}

/* Estilo para el contenedor de las tarjetas */
.container {
    padding: 2rem;
}


/* Estilo para el contenedor del banner central */


.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30cm; 
    max-height: 2.5cm; 
    background-color: #f0f0f0; 
    padding: 5px; 
    margin: 0 auto; 
    border-radius: 10px; 
}

.icono {
    margin: 0 5px; 
    font-size: 24px; 
}

.icono-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333; 
    margin: 5px 0;
}

.icono-link i {
    font-size: 24px; 
}

.icono-link span {
    font-size: 12px; 
    margin-top: 5px; 
}




